html{
    font-family: 'Poppins', sans-serif!important;
}
body{
    background-color: #2A2F4F!important;
}
.card{
    background-color: #917FB3!important;
    color: #fff!important;
}
.list-group > li{
    background-color: #917FB3!important;
    color: #fff;
}
.nim_btn{
    background-color: #E5BEEC;
    position: relative;
}
.nim_btn::after{
    content: "";
    position:absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2A2F4F;
    z-index: -1;
}
.link{
    color:#2A2F4F;
    text-decoration: none;
}
.link:hover{

}
